>   Department Of Computer Science

>   COMP4381, SP.TOP: DATA SCIENCE AND ANALYTICS

>  Dr. Hussein Soboh

> COMP4381 | Section 1 


## <div align=center> Assignment #5 </div>
<div align=center><b>Title</b></div>
<div align=center>sub title</div>

> Prepeared by: Sondos Aabed   

> ID: 1190652

<hr>

#### <b>Table of Contents</b>
- <b>Introduction</b>
    - About this dataset
- <b>Objectives</b>
- <b>Software Listenings</b>
- <b>Dataset Analysis</b>
- <b>Conclusion</b>

#### <b>List of Figures</b>
- Figure 0: 
- Figure 1: 
- Figure 2: 
- Figure 3:
- Figure 4: 

#### <b>List of Tables</b>
- Table 1: 
- Table 2: 

<hr>

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('./online_retail_II.csv')

In [7]:
sample = df.sample(200000)

In [8]:
sample.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
879243,567823,23505,PLAYING CARDS I LOVE LONDON,12,2011-09-22 12:55:00,1.25,12910.0,United Kingdom
576738,540646,21675,BUTTERFLIES STICKERS,1,2011-01-10 14:32:00,0.81,NaN,United Kingdom
1013637,577798,84836,ZINC METAL HEART DECORATION,12,2011-11-21 16:54:00,1.25,17757.0,United Kingdom
631800,545324,48173C,DOORMAT BLACK FLOCK,1,2011-03-01 14:58:00,7.95,13110.0,United Kingdom
369639,525081,85049E,SCANDINAVIAN REDS RIBBONS,36,2010-10-03 15:41:00,1.25,17069.0,United Kingdom

In [9]:
sample.nunique()

Invoice        36200
StockCode       4685
Description     5076
Quantity         496
InvoiceDate    33896
Price           1006
Customer ID     5597
Country           43
dtype: int64

In [13]:
sample.describe()

            Quantity          Price    Customer ID
count  200000.000000  200000.000000  154424.000000
mean        9.947615       4.456517   15324.974395
std       183.757658     124.868763    1697.123600
min     -9600.000000  -44031.790000   12346.000000
25%         1.000000       1.250000   13975.000000
50%         3.000000       2.100000   15254.000000
75%        10.000000       4.150000   16795.000000
max     74215.000000   13541.330000   18287.000000

In [15]:
sample.isna().sum()

Invoice            0
StockCode          0
Description      784
Quantity           0
InvoiceDate        0
Price              0
Customer ID    45576
Country            0
dtype: int64

1. Determine the total sales per invoice and identify the top 5 invoices.

2. Compute the total sales per customer and list the top 5 customers.

3. Identify the top 5 selling items during this period.

4. Determine the most frequently purchased item pairs by customers and display the top 20 pairs.

5. The retail store aims to introduce a new promotion targeting items with low sales volume. This promotion entails offering a discounted price for a pair of two different items, with one item being among the top 10 best sellers and the other from the bottom 10 sellers. Customers who purchase these two items together will qualify for the special pricing. Your task is to recommend 10 pairs of items to kickstart this campaign.