    Department Of Computer Science
    COMP4381, SP.TOP: DATA SCIENCE AND ANALYTICS
    Dr. Hussein Soboh
    COMP4381 | Section 1

## <div align=center> Assignment #4 </div>
<div align=center><b>Coffee Reviews Dataset Exploration</b></div>
<div align=center>Bean to Cup: Coffee rankings from around the world</div>

    Prepeared by: Sondos Aabed
    ID: 1190652

#### <b>Abstract</b>
This notebook is written as part of the Data Science and Analytics coursework By Dr. Hussein Suboh. Were a Coffee Reviews Dataset is explored. The method is structured starting with data loading and description, then general attributes as data shape, missing values, outliers, and data types are presented. Numerical and categorical features are analyzed, correlation is studeied too, and Finally the index feature is also discussed. Throughout the analysis, interpretations are presented highlighting any notable patterns or trends observed. Overall, this notebook offers an exploration into the Coffee Reviews Dataset.

#### <b>Table of Contents</b>
- <b>Introduction</b>
    - About this dataset
- <b>Objectives</b>
- <b>Theory</b>
    - Pandas Dataframe
    - Data types
    - Correlation
    - Index Feature
- <b>Software Versions</b>
- <b>Analysis</b>
    - Data Loading
    - Data Description and Columns
    - Data Exploratuin
        - Shape
        - Missing Values
        - Outliers
        - Data types
    - Numerical Features Analysis
    - Categorical Feature Analysis
    - Correlation Analysis
    - Index Feature
- <b>Discussion</b>

- <b>Conclusion</b>

#### <b>List of Figures</b>
- Figure 1: 
- Figure 2: 
- Figure 3: 
- Figure 4:

#### <b>List of Tables</b>
- Table 1: 
- Table 2: 
- Table 3: 
- Table 4: 
- Table 5: 
- Table 6: 
- Table 7:

#### <b>Introduction</b>
<p>The primary aim of this assignment is </p>

##### <b>About this dataset [1]</b>
<p>T </p>

#### <b>Objectives</b>
- To select a Kaggle dataset and describe it.
- To load the data files and explore it.
- To analyze numerical features.
- To analyze categgorical features.
- To analyze correlation.
- To identify index.

#### <b>Theory</b>

##### <i><b>Data types</b></i>
<p></p>

##### <i><b>Correlation</b></i>
<p></p>

##### <i><b>Index Feature</b></i>
<p></p>

#### <b>Software Tools and Versions</b>

The followning table shows the software tools and versions used in this experimnet.

Table 2: Software Listenings
|Tool | Version |
|-----|---------|
|Python|3.12.2|
|Numpy|1.26.4|
|Matplotlib|3.8.2|
|Pandas|2.2.1|
|Visual Studio Code |Updated|
|Git & github|[Repo.](https://github.com/sondosaabed/SP.TOP-Data-Science-and-Analytics/blob/main/Assignments/A4/1190652_A4.ipynb)|

#### <b>Analysis</b>
In this section the objectives are met using python, were the analysis of the data, results and graphs are presented.

##### <b>Necessary imports</b>
- First we import necessary libraries

In [1]:
import numpy as np
from matplotlib import pyplot as plt
import numpy.random as random
import pandas as pd

##### <b>Data Loading </b>
- This is the first step of the experiment, is to load the dataset from kaggle.

In [2]:
def load_dataset(path ="./coffee_analysis.csv"):
    """
    This is a wrap function that calls the pandas loading file and returns 
    the dataframe of it.
    Args:
        
    Returns:
        (panda.Dataaframe) contains the loaded data
    """
    return pd.read_csv(path)

In [3]:
df = load_dataset()

##### <b>Data Description and Columns </b>
- This is the second step of the analysis,

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2095 entries, 0 to 2094
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         2095 non-null   object
 1   roaster      2095 non-null   object
 2   roast        2080 non-null   object
 3   loc_country  2095 non-null   object
 4   origin_1     2095 non-null   object
 5   origin_2     2095 non-null   object
 6   100g_USD     2095 non-null   float64
 7   rating       2095 non-null   int64
 8   review_date  2095 non-null   object
 9   desc_1       2095 non-null   object
 10  desc_2       2095 non-null   object
 11  desc_3       2093 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 196.5+ KB

##### <b>Data Exploratoin </b>
This is the second step of the analysis,

- Shape: What is the shape of the data?

In [6]:
df.shape

(2095, 12)

- Missing values: Does it contain missing values?

In [19]:
df.notnull()

,name,roaster,roast,loc_country,origin_1,origin_2,100g_USD,rating,review_date,desc_1,desc_2,desc_3
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2090,True,True,True,True,True,True,True,True,True,True,True,True
2091,True,True,True,True,True,True,True,True,True,True,True,True
2092,True,True,True,True,True,True,True,True,True,True,True,True
2093,True,True,True,True,True,True,True,True,True,True,True,True
2094,True,True,True,True,True,True,True,True,True,True,True,True

- Outliers: Does it have outliers

- Data types: Which features are numerical, and which are nominal, and which are ordinal ?

- Visulaization of

In [ ]:
def relationship_plot(x_data, y_data, x_label, y_label):
    """
    This function plots the relationship between two varailes.
    Args:
        x_data (1D array): conatins y data
        y_data (1D array): conatins x data
        x_label (str): 
        y_label (str):
    Returns:
        Nothing, plots the relationship using line plot
    """
    plt.plot(x_data, y_data)
    plt.xlabel(x_label)
    plt.ylabel(y_label)
    title = x_label + "Vs." + y_label
    plt.title(title) 
    plt.show()
    plt.show()

##### <b>Numerical Features Analysis</b>

In [10]:
df.describe()

          100g_USD       rating
count  2095.000000  2095.000000
mean      9.323313    93.114081
std      11.430659     1.563024
min       0.120000    84.000000
25%       4.930000    92.000000
50%       5.860000    93.000000
75%       8.785000    94.000000
max     132.280000    98.000000

##### <b>Categorical Feature Analysis</b>

In [14]:
df.nunique()

name           1909
roaster         424
roast             5
loc_country      19
origin_1        614
origin_2        357
100g_USD        473
rating           15
review_date      61
desc_1         2092
desc_2         2029
desc_3         2090
dtype: int64

##### <b>Correlation Analysis</b>

In [ ]:
df.corr()

##### <b>Index Feature</b>

In [16]:
df.index

RangeIndex(start=0, stop=2095, step=1)

#### <b>Discussion</b>

<p><b>Insights on </b></p>

<p><b>Insights on :</b></p>

#### <b>Conclusion</b>

In conclusion, this notebook explores

#### <b>Resources</b>
- [1] Coffee Reviews Dataset by https://www.kaggle.com/datasets/schmoyote/coffee-reviews-dataset?select=coffee_analysis.csv
- [2] Markdown table: How to Create a Great Looking Table, by Markdown land, https://markdown.land/markdown-table 
- [3] Statics unplugged